// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#main-chart {
  background: url(../images/chart_bg.png) no-repeat center center;
  width: 884px;
  height: 393px;
}